* {
    box-sizing: border-box;
}

#map {
    alignment: top;
    float: right;
    width: 68vw;
    height: 58vw;
}

#bikelist {
    alignment: left;
    width: 30%;
}

#myInput {
    alignment: left;
    width: 30%;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#bikes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bikes li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#bikes li a:hover:not(.header) {
    background-color: #eee;
}